
<html>
<head>
<title>Tour du monde</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="keywords" content="Tour, monde, tour du monde, carnet de voyage, récit, photos, photographies">
<link rel="stylesheet" href="../../css/general.css">
<script language="javascript1.2">
	var level = 2;
</script>
<script language="javascript" src="../../js/menu/sniffer.js">
//Top Navigational Bar III v3.4.1.1b (By BrotherCake @ cake@brothercake.net)
//Permission granted/modified by Dynamicdrive.com to include script in archive
//For this and 100's more DHTML scripts, visit http://www.dynamicdrive.com/
//This notice MUST stay intact for legal use
</script>
<script language="javascript1.2" src="../../js/menu/custom.js">
</script>
<script language="javascript1.2" src="../../js/menu/style.js"></script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" background="../../images/mondebg.gif">
<script language="javascript1.2" src="../../js/menu/menu.js"></script>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="3">&nbsp;<img src="../../images/menuvoyage.gif" width="700" height="120" border="0"></td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr valign="middle">
    <td width="125" class="TitrePays"> Monde <font size="3">2001</font></td>
    <td height="40" width="10">&nbsp;</td>
    <td height="40">
      <table width="100%">
        <tr>
          <td align="left" class="TitrePagePays"> Tour du monde 2001</td>
          <td align="right">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="12">&nbsp;</td>
    <td width="10" height="12">&nbsp;</td>
    <td height="12">&nbsp; </td>
  </tr>
  <tr>
    <td height="5" valign="top">
      <table border="0" cellspacing="0" cellpadding="0" width="125">
        <tr> 
          <td><img src="../../images/carte/t_monde.gif" width="125" height="150" border="0"></td>
        </tr>
        <tr> 
          <td> 
            <p class="menuvoyage"> <a href="../index.html" class="menuvoyage">&nbsp;Intro</a></p>
          </td>
        </tr>
        <tr> 
          <td height="10"></td>
        </tr>
        <tr> 
          <td> 
            <p class="menuvoyage"> <a href="../preparations.html" class="menuvoyage">&nbsp;Pr&eacute;paratifs</a></p>
          </td>
        </tr>
        <tr> 
          <td height="10"></td>
        </tr>
        <tr> 
          <td> 
            <p class="menuvoyage"> <a href="../photo.html" class="menuvoyage">&nbsp;ABC 
              Photos </a></p>
          </td>
        </tr>
        <tr> 
          <td height="10"></td>
        </tr>
        <tr> 
          <td> 
            <p class="menudisabled">&nbsp;Les pays </p>
          </td>
        </tr>
        <tr> 
          <td height="10"></td>
        </tr>
      </table>
    </td>
    <td width="10">&nbsp;</td>
    <td valign="top">
      <table width="90%" cellspacing="0" cellpadding="0">
        <tr align="center">
          <td>
            <table border="0" cellspacing="0" cellpadding="0" bordercolor="#FFFFFF">
              <tr> 
                <td><img name="tdm2001" src="../../images/carte/tdm/tdm2001.gif" width="800" height="520" border="0" usemap="#m_tdm2001Map"><map name="m_tdm2001Map"> 
                    <area shape="rect" coords="399,404,517,452" href="#"  onMouseOver="$pageMaker.onMouseOver('inde20010428')" > 
                    <area shape="rect" coords="603,22,755,66" href="#"  onMouseOver="$pageMaker.onMouseOver('thailande20010724')" > 
                    <area shape="rect" coords="509,359,624,400" href="#" onMouseOver="$pageMaker.onMouseOver('thailande20010505')" > 
                    <area shape="rect" coords="711,102,787,142" href="#" onmouseover="$pageMaker.onMouseOver('japon20010801')"  > 
                    <area shape="rect" coords="616,401,711,445" href="#" onmouseover="$pageMaker.onMouseOver('laos20010602')" > 
                    <area shape="rect" coords="694,227,798,268" href="#" onmouseover="$pageMaker.onMouseOver('cambodge20010715')" > 
                    <area shape="rect" coords="690,351,783,392" href="#" onmouseover="$pageMaker.onMouseOver('vietnam20010616')"  > 
                    <area shape="rect" coords="341,348,439,392" href="#" onmouseover="$pageMaker.onMouseOver('nepal20010411')"  > 
                    <area shape="rect" coords="328,289,426,328" href="#" onmouseover="$pageMaker.onMouseOver('inde20010218')" > 
                    <area shape="rect" coords="318,209,417,252"  href="#" onmouseover="$pageMaker.onMouseOver('jordanie20010205')" > 
                    <area shape="rect" coords="173,92,280,129" href="#" > <area shape="rect" coords="29,105,119,144" href="#" onmouseover="$pageMaker.onMouseOver('mexique20011107')" > 
                    <area shape="rect" coords="60,426,159,465" href="#" onmouseover="$pageMaker.onMouseOver('chili20010804')" > 
                    <area shape="rect" coords="222,394,339,438" href="#" onmouseover="$pageMaker.onMouseOver('argentine20010902')" > 
                    <area shape="rect" coords="13,288,118,334" href="#" onmouseover="$pageMaker.onMouseOver('bolivie20010921')" > 
                    <area shape="rect" coords="193,213,284,253" href="#" onmouseover="$pageMaker.onMouseOver('bresil20011027')" > 
                  </map></td>
              </tr>
            </table>


            <table border="0" cellspacing="15" cellpadding="0" width="700">
            </table>
			
			
            

            <table border="0" cellspacing="15" cellpadding="0" width="700">
#set ($alternate = -1) 

#foreach ($country in $Root.selectNodes("./Country"))
#set ( $alternate = 0 - $alternate ) 


#set ($intro = "")
#set ($intro = $this.readContent($country.valueOf("./Content/@path")))

#if ( $intro.length() > 50 && $intro.indexOf(".",50) > -1 )
	#set ($intro = $intro.substring(0,$intro.indexOf(".",50))) 
	#set ($intro = "$intro...") 	
#end

#set ($coutryFolder = $country.valueOf("@folder"))


#set ($pictureId = $country.valueOf("//Picture[@country='$coutryFolder']/@id"))



#if ( $alternate > 0 )

 <!--LEFTITERATOR--> 
              <tr> 
                <td> 
                  <table border="0" cellpadding="0" cellspacing="0" width="180">
                    <!-- fwtable fwsrc="tasDePhotos144.png" fwbase="tasDePhotos144.gif" --> 
                    <tr valign="top"><!-- row 1 --> 
                      <td colspan="3"><img name="tasDePhotos144_r1_c1" src="../../images/phHaut.gif" width="180" height="14" border="0"></td>
                      <td><img src="../../images/shim.gif" width="1" height="14" border="0"></td>
                    </tr>
                    <tr valign="top"><!-- row 2 --> 
                      <td rowspan="2"><img name="tasDePhotos144_r2_c1" src="../../images/phGau.gif" width="21" height="118" border="0"></td>
                      <td><img src="pictures/$country.valueOf("@folder")/144/$pictureId" width="144" height="96"></td>
                      <td rowspan="2"><img name="tasDePhotos144_r2_c3" src="../../images/phDrt.gif" width="15" height="118" border="0"></td>
                      <td><img src="../../images/shim.gif" width="1" height="1" border="0"></td>
                    </tr>
                    <tr valign="top"><!-- row 3 --> 
                      <td><img name="tasDePhotos144_r3_c2" src="../../images/phBas.gif" width="144" height="22" border="0"></td>
                      <td><img src="../../images/shim.gif" width="1" height="22" border="0"></td>
                    </tr>
                  </table>
                </td>
                <td align="left"> <i class="TitrePagePays">$country.valueOf("@name")</i> <br>
                  $intro </td>
                <td valign="middle"><a href="$country.valueOf("@folder")/$country.valueOf("@page.filename")">Lire la suite...</a> 
                  <br>
                  <a href="$country.valueOf("@folder")/photo1.html">Les photos</a> <br>
                  <a href="$country.valueOf("@folder")/itineraire.html">L'itin&eacute;raire</a> 
<br>
                  <a href="$country.valueOf("@folder")/infos-pratiques.html">Infos pratiques</a>                   
                </td>
              </tr>
              <tr align="center"> 
                <td colspan="3"><img src="../../images/pixelmarron.gif" width="500" height="1"></td>
              </tr>
#else
              <!--LEFTITERATOR--> <!--RIGHTITERATOR--> 
              <tr> 
                <td valign="middle"><a href="$country.valueOf("@folder")/$country.valueOf("@page.filename")">Lire la suite...</a> 
                  <br>
                  <a href="$country.valueOf("@folder")/photo1.html">Les photos</a> <br>
                  <a href="$country.valueOf("@folder")/itineraire.html">L'itin&eacute;raire</a> 
                  <br>
                  <a href="$country.valueOf("@folder")/infos-pratiques.html">Infos pratiques</a> 
                </td>
                <td align="left"> <i class="TitrePagePays">$country.valueOf("@name")</i> <br>
                  <br>
                  $intro </td>
                <td> 
                  <table border="0" cellpadding="0" cellspacing="0" width="180">
                    <!-- fwtable fwsrc="tasDePhotos144.png" fwbase="tasDePhotos144.gif" --> 
                    <tr valign="top"><!-- row 1 --> 
                      <td colspan="3"><img name="tasDePhotos144_r1_c1" src="../../images/phHaut.gif" width="180" height="14" border="0"></td>
                      <td><img src="../../images/shim.gif" width="1" height="14" border="0"></td>
                    </tr>
                    <tr valign="top"><!-- row 2 --> 
                      <td rowspan="2"><img name="tasDePhotos144_r2_c1" src="../../images/phGau.gif" width="21" height="118" border="0"></td>
                      <td><img src="pictures/$country.valueOf("@folder")/144/$pictureId" width="144" height="96"></td>
                      <td rowspan="2"><img name="tasDePhotos144_r2_c3" src="../../images/phDrt.gif" width="15" height="118" border="0"></td>
                      <td><img src="../../images/shim.gif" width="8" height="96" border="0"></td>
                    </tr>
                    <tr valign="top"><!-- row 3 --> 
                      <td><img name="tasDePhotos144_r3_c2" src="../../images/phBas.gif" width="144" height="22" border="0"></td>
                      <td><img src="../../images/shim.gif" width="1" height="22" border="0"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr align="center"> 
                <td colspan="3"><img src="../../images/pixelmarron.gif" width="500" height="1"></td>
              </tr>
  #end
            #end
              <tr align="center"> 
                <td colspan="3">Et puis d'autres voyages : <a href="../../voyages/pays/madagascar/index.htm">Madagascar</a>, 
                  l'<a href="../../voyages/pays/indonesie/index.htm">Indonésie</a> 
                  et <a href="../../voyages/pays/tchequie/index.htm">Prague</a></td>
              </tr>
            </table>



</td>
        </tr>
      </table>
      <table width="100%">
        <tr>
          <td align="left">&nbsp;</td>
          <td align="right">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<script language="JavaScript" type="text/javascript" src="../../js/wz_tooltip.js"></script>
</body>
</html>

