body {
	background-repeat: repeat;
	font-family: Tahoma, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px
}

#divActivity {
	position: absolute; 
	top: 0px;
	left: 0px;
	width: 209px;
	height: 100%;
	background-color: #C3C7D3;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#C3C7D3', EndColorStr='#B1B3C8');
}
#divImageActivity {
	position: relative; 
	top: 12px;
	left: 12px;
	width: 185px;
}
#divInfoActivity {
	position: relative; 
	top: 28px;
	left: 12px;
	width: 185px;
}
#divJAlbum {
	font-family: Tahoma, sans-serif;
	color: #555555;
	font-size: 11px;
	position: absolute;
	bottom: 3px;
	left: 0px;
	width: 209px;
	text-align: center;
}

#divMainHeader {
	position: absolute;
	top: 10px;
	left: 230px;
	height: 32px;
	background-image: url(FolderLarge.gif);
	background-position: top left;
	background-repeat: no-repeat;
	padding-left: 40px;
	padding-top: 2px;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #000000;
}

#divMainSlideHeader {
	position: absolute;
	top: 10px;
	left: 230px;
	height: 32px;
	background-image: url(ImageLarge.gif);
	background-position: top left;
	background-repeat: no-repeat;
	padding-left: 40px;
	padding-top: 2px;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #000000;
}

#divMain {
	position: absolute;
	top: 40px;
	left: 230px;
}

div.Photo {
	padding: 3px;
	display: inline;
	width: 96px;
	height: 132px;
	font-family: Tahoma, sans-serif;
	font-weight: normal;
	font-size: 1px;
	color: #000000;
	vertical-align: top;
}
div.imgBorder {
	width: 94px;
	height: 94px;
	border: 1px solid #E0DFE3;
	background-color: #FFFFFF;
	overflow: hidden;
}

a.Photo {
	border: 0px;
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-family: Tahoma, sans-serif;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
}

td.ImagePaneHeader {
	background-image: url(ImagePaneHeaderOpen.gif);
	background-position: top left;
	background-repeat: no-repeat;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	padding-left: 33px;
	padding-top: 9px;
	font-size: 11px;
	color: #FFFFFF;
	height: 32px;
}
td.ImagePaneRow {
	background-color: #F0F1F5;
	font-family: Tahoma, sans-serif;
	font-weight: normal;
	padding-left: 12px;
	padding-top: 2px;
	font-size: 11px;
	height: 20px;
	color: #3F3D3D;
}
a.ImagePaneRow {
	color: #3F3D3D;
	text-decoration: none;
}
a.ImagePaneRow:hover {
	color: #7E7C7C;
	text-decoration: underline;
}
td.ImagePaneFrame {
	background-color: #FFFFFF;
}

td.InfoPaneHeader {
	background-image: url(InfoPaneHeaderOpen.gif);
	background-position: top left;
	background-repeat: no-repeat;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	padding-left: 12px;
	padding-top: 0px;
	font-size: 11px;
	color: #000000;
	height: 23px;
}
td.InfoPaneRow {
	background-color: #F0F1F5;
	font-family: Tahoma, sans-serif;
	font-weight: normal;
	padding-left: 12px;
	padding-top: 2px;
	font-size: 11px;
	height: 20px;
	color: #000000;
}
a.InfoPaneRow {
	color: #000000;
	text-decoration: none;
}
a.InfoPaneRow:hover {
	color: #000000;
	text-decoration: underline;
}
td.InfoPaneFrame {
	background-color: #FFFFFF;
}
