#TOTO img {
    width: auto;
    height: 200px;
	max-height : 100%
  
} 
#TOTO figure{
  display: inline-block;
  margin: 4px;
}

#TOTO figure{
  display: inline-block;
  margin: 4px;
}


#TOTO figcaption{
  margin: 4px;
  text-align: center;	
}


