{{ define "title" }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ end }}

{{ define "main" }}


	
<div class="mrow">
  <div class="mcol c8">

    {{ if not .IsHome }}
    <header class="page-title">
      <h1 class="title">{{ .Title }}</h1>
    </header>
    {{ end }}
	
	<!--LCO -->

	
	<article class="sn">
	  <div class="thumb thumb-{{ .File.UniqueID }}"></div>

	<div class="article-body">{{ .Content }}</div>
	</article>	

	<!--/LCO -->

	<div class="articles">
      <div class="mrow">
	  

		
		{{ $filterSumary := false }}
		{{ if (.Params.filter_summary) }}	
			{{  $filterSumary = true }}
		{{ end}}	
		

		{{ $listToDisplay := (slice )  }}
		{{ if $filterSumary }}
			{{ range $ele := .Site.Pages }} 
				{{ if ($ele.Params.country_summary) }}	
					{{ $listToDisplay = $listToDisplay | append $ele }}
				{{ end}}
			{{ end }}	
		{{ else }}
			{{ $listToDisplay = .Data.Pages }}
		{{ end }}
		
		
		
		{{ if (or (not (isset .Params "inverseorder")) .Params.inverseorder) }}
			{{ $listToDisplay = $listToDisplay.Reverse }}
		{{ end }}	


		{{ range $pageToDisplay :=(.Paginate $listToDisplay).Pages  }}
				<div class="mcol c6">{{ .Render "li" }}</div>
		{{ end }}

      </div>
    </div>

    {{ partial "pagination.html" . }}
  </div>
  <div class="mcol c4">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ end }}

