
{{$currentpays := index ($.Page.Params.voyages) 0 }}

<h2>Liste des pages :</h2>
<ul>
{{ range $pp := .Site.Pages.ByDate  }}
{{if isset $pp.Params "voyages"}}
  {{ if eq (index $pp.Params.voyages 0) $currentpays  }}
  
	{{ $filterSumary := false }}
	{{ if ($pp.Params.country_summary) }}	
		{{  $filterSumary = true }}
	{{ end}}
		
	{{ if (not $filterSumary) }}	
		<li><a href="{{ .Permalink }}">{{ .Title }}</a> ({{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }})
		</li>
	{{end}}	
  {{end}}
{{end}}	
{{end}}	
</ul>

	
	