<style>
    .left {
        float: left;
        width: 49%;
		
    }
    .right {
        float: right;
        width: 49%;
    }
	.left, .right {
		padding:2px;
	}
	
    img {
        max-width: 100%;
        height: auto;
    }
    .group:after {
        content:"";
        display: table;
        clear: both;
    }
    @media screen and (max-width: 800px) {
        .left, .right {
            float: none;
            width: auto;
        }
    }


</style>


	{{$nbColums:=2}}


	{{$folderURL := ""}}
	{{$folderToExplor := ""}}
	
	{{if .Get "folder"}}
		{{$folderURL = (.Get "folder")}}
		{{$folderToExplor = print "/static/" $folderURL}}
	{{end}}
	
	{{$folderURL = replace ($folderURL ) "%5C" "PPP" }}
	{{$folderURL = replace ($folderURL ) "%5c" "PPP" }}
	

	{{$cpt:=0}}
<div class="group">
	{{ range readDir $folderToExplor }}
		{{ $imgURL := print "" $folderURL "/" .Name | absURL}}
		
		{{if eq (mod $cpt 2) 0 }}
		<div class="left">
			<img src="{{ $imgURL }}"/>
		</div>
		{{else}}
		<div class="right">
			<img src="{{ $imgURL }}"/>
		</div>
		{{end}}

		{{$cpt = (add $cpt 1)}}
	{{ end }}
</div>




