
<style>

    .left {
        float: left;
        width: 50%;
    }
    .right {
        float: right;
        width: 50%;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .group:after {
        content:"";
        display: table;
        clear: both;
    }
    @media screen and (max-width: 800px) {
        .left, .right {
            float: none;
            width: auto;
        }
    }


</style>

<div class="group">
    <div class="left">
        <img  src="http://diskstation2/myblog/images/20180627_vietnam/02-Hanoi/seq3/2018-06-28_12-03-51.jpg">			
    </div>
    <div class="right">
        <img  src="http://diskstation2/myblog/images/20180627_vietnam/02-Hanoi/seq3/2018-06-28_14-00-01_08396.JPG">			
    </div>
    <div class="left">
        <img src="//localhost:1313/images/20180627_vietnam/02-Hanoi/seq3/2018-06-28_14-33-24_08402.JPG">			
    </div>
    <div class="right">
        <img  src="http://localhost:1313/images/20180627_vietnam/02-Hanoi/seq3/2018-06-28_15-21-26_08417.JPG">			
    </div>	
</div>


